@font-face {
  font-family: "Circular Bold";
  src: url("https://tangerine-dev.s3.us-east-2.amazonaws.com/public/fonts/lineto-circular-bold.ttf")
      format("truetype"),
    url("lineto-circular-bold.ttf");
}
