.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  margin: 2rem;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1126px) {
  .App {
    flex-direction: column;
  }
}
